body {
	background: lightblue;
}
h1 {
	text-align: center;
}
.cell {
	text-align: center;
	width: 100px;
	border: 2px solid black;
}
.elem {
	text-align: center;
	font-weight: bold;
}
.atomic {
	font-size: 0.8em;
	text-align: right;
}
.num {
	font-size: 0.8em;
	text-align: left;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.orange {
	background-color: orange;
}
.pink {
	background-color: pink;
}
.brown {
	background-color: brown;
}
.purple {
	background-color: purple;
}
.cyan {
	background-color: cyan;
}
.green {
	background-color: green;
}
.lightgreen {
	background-color: lightgreen;
}
.grey {
	background-color: grey;
}
.copyright {
	text-align: right;
	font-family: monospace;
	font-style: italic;
}
